{
	"printWidth": 80,
	"tabWidth": 2,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"bracketSpacing": true,
	"endOfLine": "lf",
	"plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-sql"],
	"tailwindFunctions": ["cva"],
	"language": "postgresql",
	"keywordCase": "upper"
}
